<div class="container-fluid">
    <header>
        <div class="align-items-center">
          <div class="profile-info">
            <img src="img/logo.png" alt="Logo Piedrazul" class="rounded-circle img-fluid mb-2" width="120" height="120">
            <h1>{{nombre}}</h1>
            <h3>{{disciplina}}</h3>
            <p>{{descripcion}}</p>

            <div class="social-icons">
              <a href="{{linkedin}}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
              <a href="{{github}}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
              <a href="{{correo}}" title="Email"><i class="fas fa-envelope"></i></a>
            </div>
            <p class="correo">{{correo}}</p>
          </div>
        </div>
    </header>
</div>
